<div class="container mt-4">
  <h2>Gestão de Clientes - Nós da Mota</h2>

  <table class="table table-hover mt-3">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (c of customers(); track c.id) {
        <tr>
          <td>{{ c.name }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.phone }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="delete(c.id)">Excluir</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <hr>

  <div class="card shadow-sm p-4 mt-4">
    <h4 class="text-primary mb-3"><i class="bi bi-person-plus-fill"></i> Novo Cliente</h4>
    
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" [(ngModel)]="newCustomer().name" class="form-control" placeholder="Ex: Arthur">
    </div>
    
    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input type="email" [(ngModel)]="newCustomer().email" class="form-control" placeholder="arthur@email.com">
    </div>
    
    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input type="text" [(ngModel)]="newCustomer().phone" class="form-control" placeholder="(41) 99999-9999">
    </div>

    <button (click)="save()" class="btn btn-primary w-100">
      Salvar no Sistema
    </button>
  </div>
</div>