<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <span class="me-2">🧶</span> <strong>Nós da Mota</strong>
    </a>
    
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
      <a class="nav-link" routerLink="/produtos" routerLinkActive="active">Produtos</a>
      <a class="nav-link" routerLink="/novo-pedido" routerLinkActive="active">Novo Pedido</a>
      <a class="nav-link" routerLink="/pedidos" routerLinkActive="active">Histórico</a>
    </div>
  </div>
</nav>